profiles {
	standard {
		process {
         		withName: cuatro{
          			container = "dominios5:latest"
         		}
		}
		process {
         		withName: cinco{
          			container = "dominios5:latest"
         		}
		}
		process {
         		withName: seis{
          			container = "dominios5:latest"
         		}
		}
		process {
         		withName: siete{
          			container = "dominios5:latest"
         		}
		}
    		docker.enabled = true
  	}
}

